.App{
  padding-top: 2vh;
  text-align: center;
}
.imageList{
  margin-top: 130px;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
  grid-auto-rows: 10px;
}

.imageList img{
  width:350px;
  border-radius: 2rem;
}

.SearchBox{
  position :fixed;
  top:4vh;
  left: 50%;
  transform: translateX(-50%);
}
.ui.icon.input>input{

  border-radius: 10rem;
}
